<h1><%= title %></h1>
<form id="loginForm" action="/account/login" method="POST">
    <label>Email Address:</label>
    <input type="email" name="email" required>
    
    <label>Password:</label>
    <input type="password" id="password" name="password" required>
    
    <button class="lgn" type="submit">Login</button>
</form>
<div class="signup-link">
    No account? <a href="/account/register">Sign-up</a>
</div>