<h1><%= title %></h1>
<p>All the fields are required.</p>
<form id="registerForm" action="./account/register" method="post">
    <fieldset>
        <label for="firstname">First Name:</label>
        <input type="text" name="account_firstname" id="firstname" size="10" required>
        <label for="lastname">Last Name:</label>
        <input type="text" name="account_lastname" id="lastname" required>
        <label for="email">Email:</label>
        <input type="email" name="account_email" id="email" required>
        <label for="password">Password:</label>
        <input type="password" name="account_password" id="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])
        (?!.*\s).{12,}$">
        <div><i>Passwords must be minimum of 12 characters and include 1 capital letter , 1 number and 1 special characer.</i></div>
        <button id="pswdBtn" type="button">Show Password</button>
        <button type="submit">Register</button>
    </fieldset>
</form>
<script>
    const pswdBtn = 
    document.querySelector('#pswdBtn');
    pswdBtn.addEventListener("click", function(){
        const pswdInput = 
    document.getElementById("pword");
        const type = pswdInput.getAttribute("type");
        if (type == "password") {
            pswdInput.setAttribute("type", "text");
            pswdBtn.innerHTML = "Hide Password";
        }   else { 
            pswdInput.setAttribute("type", "password");
            pswdBtn.innerHTML = "Show Password";
        }
    });
</script>