/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}
/* ADDED FOR CONVENIENCE */
:root {
  --primary-background: #fff;
  --main-accent: #01b0d3;
}

body {
  margin: 0;
}

#wrapper {
  width: 95%;
  /* Added this to make sure that the background inside the wrapper is always white */
  background-color: var(--primary-background);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}
/* Everything inside of this @media tag relates to the desktop view (e.g. anything 768px or more)*/
@media only screen and (min-width: 768px) {
  body {
    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
  }

  #wrapper {
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1vw;
    width: 75vw;
    max-width: 1200px;
  }
}
