<form action="/inv/add-classification" method="POST" id="add-classification-form">
    <label for="classification_name">Classification Name:</label>
    <input type="text" name="classification_name" id="classification_name" required>
    <button type="submit">Add Classification</button>
  </form>
  