<title>Inventory Management</title>
<h1>Inventory Management</h1>
<% if (message) { %>
    <div class="notice"><%= message %></div>
  <% } %>
<a href="./add-classification.ejs">Add New Classification</a>
<a href="./add-inventory.ejs">Add New Inventory</a>
